.ion-icon-fab {
    font-size: 45px !important;
}
.ion-btn-fab {
    height: 55px;
    width: 55px;
}
.callsign_list {
    max-height: 35%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: auto;
}
.top_right{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    background-color: rgb(46, 111, 164);
    color: white;
    padding: 3px;
    border-radius: 3px;
}